header#logo {
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    align-items: center; 
    flex-direction: column;
}

#navtop {
    background-color: #EEEEEE; 
    width: 90%;
}

#navtop > p {
    text-align: center; 
    margin: 0px;
}

#navtop > form {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    margin: 0px;
}

#navtop > form > section{
    display: flex;
}

#navbottom {
    display: flex; 
    width: 90%
}

#navbottom > #kutu1 {
    flex-grow: 4; 
    background-color: #7EE5DA; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;  
    margin: 1px; 
    box-sizing: border-box; 
    font-size: 15px;
}

#navbottom > #kutu2 {
    flex-grow: 2; 
    background-color: #70CCC2; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;  
    margin: 1px; 
    box-sizing: border-box; 
    font-size: 13px;
}

#navbottom > #kutu3 {
    flex-grow: 4; 
    background-color: #62B3AA; 
    display: flex; 
    flex-direction: column; 
    justify-content: start; 
    align-items: center; 
    margin: 1px; 
    box-sizing: border-box; 
    font-size: 15px;
}

p {
    margin: 0px;
}

footer {
    font-size: 13px; 
    display: flex; 
    justify-content: center;
    margin: 10px;
}
